body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #1e313e;
    padding: 10px;
}

.item {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px;
    color: #efd3a2;
    font-family: 'Montserrat', sans-serif;
}

.section-header {
    display: flex;
    justify-content: center;
}

.heading {
    text-transform: uppercase;
    color: #1e313e;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.section-about {
    display: flex;
    justify-content: space-around;
    background-color: #1e313e;
    padding: 60px;
}

.about-us {
    color: white;
    font-size: 16px;
    align-self: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    background-color: #1e313e;
    padding: 80px;
    color: white;
}

.reason-block {
    padding: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
    
}

span {
    font-size: 70px;
    align-self: baseline;
    color: #1e313e;
    background-color: #bb8a5e;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    margin: 40px;
    padding: 20px;
}

.services {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 60px;
}

.section-prices {
    background-color: #1e313e;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.map {
    display: flex;
    justify-content: center;
    background-color: #1e313e;
    padding: 50px;
}


.footer-container {
    background-color: #1e313e;
    padding: 5px;
}

.footer {
    color: #efd3a2;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #efd3a2;
    text-decoration: none;
    font-size: 16px;
}


button {
    background-color: #1e313e;
    color: #efd3a2;
    border-radius: 30px;
    padding: 30px;  
    margin: 10px;

}

@media all and (max-width:800px) {


    .section-about {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    #gmap_canvas {
        display: flex;
        justify-content: center;
    }

}

@media all and (max-width:500px) {

    #gmap_canvas {
        width: 300px;
    }

   

}





